{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    {% if user_data.is_student %}
        <h1> {{ session["username"] }} barcode: <span onblur='generateBarCode();' ></span></h1>

        <img id='barcode'
            src="https://api.qrserver.com/v1/create-qr-code/?data={{ session["username"] }}&amp;size=100x100"
            alt="Your unique barcode"
            title="Barcode"
            width="80"
            height="80" />
    {% else %}  
        <h1>Current Student Rewards</h1>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Username</th>
                <th scope="col">Name</th>
                <th scope="col">Reward Count</th>
              </tr>
            </thead>
            <tbody>
        {% for username, data in student_data.items() %}
            <tr>
                <td>{{ username}} </td>
                <td>{{ data.name }}</td>
                <td>{{ data.num_rewards|string }}</td>
            </tr>
        {% endfor %}
            </tbody>
        </table>


        <h1>Add Reward</h1>
        <div class="container">
            <form action="/add-reward" method="POST" id="qr-form">
                <div class="section">
                    <div id="my-qr-reader"></div>
                </div>
                <input type="hidden" name="username" value="0" />
            </form>
        </div>

        <script>
            function domReady(fn) {
                if (
                    document.readyState === "complete" ||
                    document.readyState === "interactive"
                ) {
                    setTimeout(fn, 1000);
                } else {
                    document.addEventListener("DOMContentLoaded", fn);
                }
            }

            function generateBarCode()
            {
                var nric = $('#text').val();
                var url = 'https://api.qrserver.com/v1/create-qr-code/?data=' + nric + '&amp;size=50x50';
                $('#barcode').attr('src', url);
            }
            
            domReady(function () {
            
                // If found you qr code
                function onScanSuccess(decodeText, decodeResult) {
                    // decodeText is the username
                    var qrForm = document.getElementById("qr-form");
                    qrForm.username.value = decodeText;
                    qrForm.submit();
                }
            
                let htmlscanner = new Html5QrcodeScanner(
                    "my-qr-reader",
                    { fps: 10, qrbos: 250 }
                );
                htmlscanner.render(onScanSuccess);
            });

            
        </script>
    {% endif %}  
{% endblock %}